@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

body {
  font-family: "Inter", sans-serif;
}

.font-serif {
  font-family: "Cormorant Garamond", serif;
}

@utility app-background {
  @apply bg-linear-to-br from-[#180308] via-[#2b0813] to-[#090203];
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(0.9);
    opacity: .8;
    transition: opacity .2s;
    cursor: pointer;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}

input[type="date"] {
    color: #78716c; /* text-stone-200 */
}